networks:
  vnet-authelia:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.20.16/29
    name: vnet-authelia

services:
  authelia:
    command: '--config /config/configuration.yml'
    container_name: authelia
    environment:
      AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET:?err}
      AUTHELIA_NOTIFIER_SMTP_ADDRESS: submissions://${SMTP_SERVER:?err}:${SMTP_PORT:?err}
      AUTHELIA_NOTIFIER_SMTP_PASSWORD: ${SMTP_PASSWORD:?err}
      AUTHELIA_NOTIFIER_SMTP_SENDER: Authelia <noreply@${TLD:?err}>
      AUTHELIA_NOTIFIER_SMTP_USERNAME: ${SMTP_USERNAME:?err}
      AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_SECRET:?err}
      AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_STORAGE_ENCRYPTION_KEY:?err}
      AUTHELIA_STORAGE_POSTGRES_PASSWORD: ${AUTHELIA_DB_PASS:?err}
      AUTHELIA_WEBAUTHN_DISPLAY_NAME: ${STACK_NAME:?err}
      DOMAINNAME: ${DOMAINNAME:?err}
      IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: ${AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET:?err}
      IDENTITY_PROVIDERS_OIDC_JWKS: ${AUTHELIA_IDENTITY_PROVIDERS_OIDC_JWKS_KEY:?err}
      OIDC_GRAFANA_CLIENT_ID: ${AUTHELIA_OIDC_GRAFANA_CLIENT_ID}
      OIDC_GRAFANA_CLIENT_SECRET_DIGEST: ${AUTHELIA_OIDC_GRAFANA_CLIENT_SECRET_DIGEST}
      OIDC_PGADMIN_CLIENT_ID: ${AUTHELIA_OIDC_PGADMIN_CLIENT_ID}
      OIDC_PGADMIN_CLIENT_SECRET_DIGEST: ${AUTHELIA_OIDC_PGADMIN_CLIENT_SECRET_DIGEST}
      OIDC_VIKUNJA_CLIENT_ID: ${AUTHELIA_OIDC_VIKUNJA_CLIENT_ID}
      OIDC_VIKUNJA_CLIENT_SECRET_DIGEST: ${AUTHELIA_OIDC_VIKUNJA_CLIENT_SECRET_DIGEST}
      POSTGRES_DB: ${AUTHELIA_DB_NAME:-authelia_db}
      POSTGRES_USER: ${AUTHELIA_DB_USER:-authelia}
      X_AUTHELIA_CONFIG_FILTERS: template
    expose:
      - 9091
      - 9959
    extends:
      file: ../common/compose.yaml
      service: base
    image: ghcr.io/authelia/authelia:4.39.14@sha256:88f1494b6ac1174641770f106335ab67752d66e5822b4059badca220b5d6153b
    labels:
      crowdsec.enable: true
      crowdsec.labels.type: authelia
      traefik.enable: true
      traefik.http.routers.authelia.rule: Host(`auth.${DOMAINNAME:?err}`)
    networks:
      - vnet-ingress
      - vnet-authelia
    volumes:
      - ./config/oidc.d:/config/oidc.d:ro
      - ./config/configuration.yml:/config/configuration.yml:ro
      - ./config/users.yml:/config/users.yml:ro
      - ${DATA_DIR:?err}/authelia:/opt/authelia
    depends_on:
      authelia-db:
        condition: service_healthy
      authelia-redict:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'wget --no-verbose --tries=1 --spider http://localhost:9091/api/health || exit 1']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  authelia-db:
    container_name: authelia-db
    environment:
      POSTGRES_DB: ${AUTHELIA_DB_NAME:-authelia_db}
      POSTGRES_PASSWORD: ${AUTHELIA_DB_PASS:?err}
      POSTGRES_USER: ${AUTHELIA_DB_USER:-authelia}
    extends:
      file: ../common/compose.yaml
      service: postgres
    networks:
      - vnet-authelia
    volumes:
      - ${DATA_DIR:?err}/authelia/db:/var/lib/postgresql/data

  authelia-redict:
    container_name: authelia-redict
    extends:
      file: ../common/compose.yaml
      service: redict
    healthcheck:
      test: ['CMD-SHELL', 'redict-cli --raw incr ping']
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - vnet-authelia
    volumes:
      - ${DATA_DIR:?err}/authelia/redict:/data
