services:
  homepage:
    container_name: homepage
    cpus: 1
    environment:
      HOMEPAGE_ALLOWED_HOSTS: home.${DOMAINNAME:?err}
      HOMEPAGE_VAR_BASE_URL: https://home.${DOMAINNAME:?err}
      HOMEPAGE_VAR_DOMAIN_NAME: ${DOMAINNAME:?err}
      HOMEPAGE_VAR_GREETING: ${STACK_NAME:-Homepage} - ${DOMAINNAME:?err}
      PGID: !reset null
      PUID: !reset null
    extends:
      file: ../common/compose.yaml
      service: base
    image: ghcr.io/gethomepage/homepage:v1.7.0@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.middlewares: chain-authelia@file
      traefik.http.routers.homepage.rule: Host(`home.${DOMAINNAME:?err}`)
    networks:
      - vnet-socket
      - vnet-ingress
    volumes:
      - ./config/bookmarks.yaml:/app/config/bookmarks.yaml:ro
      - ./config/custom.css:/app/config/custom.css:ro
      - ./config/custom.js:/app/config/custom.js:ro
      - ./config/docker.yaml:/app/config/docker.yaml:ro
      - ./config/services.yaml:/app/config/services.yaml:ro
      - ./config/settings.yaml:/app/config/settings.yaml:ro
      - ./config/widgets.yaml:/app/config/widgets.yaml:ro
